li{
    @apply px-4 text-2xl my-3;
    color: var(--font-primary);
    cursor: pointer;
}

li:hover{
    color: var(--nav-hover);
}

.contact{
    @apply my-1 px-4 text-2xl rounded ml-5;
    color: var(--font-primary);
    background-color: var(--button-color);
}

.contact:hover{
    background-color: var(--button-hover);
}